@{
    ViewData["Title"] = "Confirmação Apagar Contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato?</h3>
</div>

<a class="btn btn-primary" role="button">Confirmar</a>
<a class="btn btn-danger" role="button">Cancelar</a>